@model UzivatelModel

@inject IHttpContextAccessor HttpContextAccessor;
@using Microsoft.AspNetCore.Http;

@{
    HttpContext? httpContext = HttpContextAccessor.HttpContext;
    string? uzivatel = httpContext?.Session.GetString("jmeno");
    string? jeAdmin = httpContext?.Session.GetString("jeAdmin");
    ViewData["Title"] = "Správa uživatele " + uzivatel;
}

<article>
    <div class="container">
        <h2>Informace o profilu</h2>
        <section>
            <div><b>Třída: <i>@Model.Trida</i></b></div>
            <div><b>E-mail: <i>@Model.Mail</i></b></div>
            <a asp-controller="Stiznosti" asp-action="Stiznosti" class="button">Vaše stížnosti</a>
        </section>
    </div>
</article>

@if (jeAdmin == "True")
{
    <article>
        <div class="container">
            <h2>Administrátorský panel</h2>
            <section>
                <a asp-controller="Admin" asp-action="SpravaUzivatelu" class="button">Spravovat uživatele</a>
                <a asp-controller="Admin" asp-action="SpravaStiznosti" class="button">Spravovat stížnosti</a>
                <a asp-controller="Admin" asp-action="PridatClanek" class="button">Přidat článek</a>
            </section>
        </div>
    </article>
}

<article>
    <div class="container">
        <h2>Nastavení profilu</h2>
        @if (ViewData["chyba"] != "")
        {
            <div class="error">@ViewData["chyba"]</div>
        }
        @if (ViewData["hotovo"] != "")
        {
            <div class="success">@ViewData["hotovo"]</div>
        }
        <section>
            <h3>Změna informací</h3>
            <form asp-action="Profil" asp-controller="Uzivatel" method="post">
                <input value="@Model.Trida" name="zmenitTrida" placeholder="Třída" type="text"/>

                <input value="Uložit" type="submit"/>
            </form>

        </section>

        <section>
            <h3>Změna hesla</h3>
            <form asp-action="ZmenitHeslo" asp-controller="Uzivatel" method="post">
                <input name="stareHeslo" placeholder="Staré heslo..." type="password"/>
                <input name="zmenitHeslo" placeholder="Nové heslo..." type="password"/>

                <input value="Změnit heslo" type="submit"/>
            </form>
        </section>

        <section>
            <h3>Smazat účet</h3>
            <form asp-action="SmazatUcet" asp-controller="Uzivatel" method="post">
                <input name="stareHeslo" placeholder="Zadejte heslo..." type="password"/>

                <input name="smazat" value="Smazat účet" type="submit"/>
            </form>
        </section>
    </div>
</article>
