@model UcebnaModel
@{
    ViewData["Title"] = "Detail učebny";
}

<article> @* WIP *@
    <section>
        <h3>@Model.Druh @Model.Nazev</h3>
        <div style="text-align: center">
            <p>Budova: @Model.Budova.kodoveOznaceni</p>
            <p>@Model.Patro</p>
            @if (Model.Poddruh != "Kabinet")
            {
                <p>Fotografie:</p>
                <img src="@(Model.fotky.FirstOrDefault().Cesta)">
            }
        </div>
    </section>
</article>

