@model UcebnaModel
@{
    ViewData["Title"] = "Detail učebny";
}

<article>
    <div class="container trida">
        <h2>@Model.Nazev.Replace("_", " ")</h2>
        <section>
            <h3>Informace o učebně</h3>
            <p><b>Budova:</b> @Model.Budova.Nazev</p>
            <p><b>Patro:</b> @Model.Patro</p>
        </section>
            
        <section>
                @if (Model.Poddruh != "Kabinet")
                {
                    <h3>Fotografie učebny</h3>
                    foreach (var fotka in Model.Fotky.ToList().Where(n => Model.Fotky.ToList().IndexOf(n) % 2 == 0))
                    {
                        <img src="@fotka.Cesta" alt="@fotka.Nazev">
                    }
                }
        </section>
    </div>
</article>

