@model UcebnaModel
@{
    ViewData["Title"] = "Detail učebny";
}

<article>
    <div class="container">
        <section>
            <h2>@Model.Druh @Model.Nazev</h2>
            <div>
                <p><b>Budova:</b> @Model.Budova.Nazev</p>
                <p><b>Patro:</b> @Model.Patro</p>
                @{ var kys = Model; }
                @if (Model.Poddruh != "Kabinet")
                {
                    <p><b>Fotografie:</b></p>
                    <div class="fotogalerie">
                        @foreach (var fotka in Model.Fotky.ToList())
                        {
                            <img src="@fotka.Cesta" alt="@fotka.Nazev">
                        }
                    </div>
                }
            </div>
        </section>
    </div>
</article>

