@model List<CrowdSourceModel>
@{ ViewData["Title"] = "Crowd Source"; } 

<article>
    <section>
        <h2>Odeslané stížnosti</h2>
    </section>
   <section>


        @foreach (CrowdSourceModel stiznost in Model)
        {
            <h2>@stiznost.nadpis</h2>
            <p>Od uživatele: @stiznost.mailUzivatele</p>
            <p>Stav: @stiznost.stav</p>
            <p>Odpověď administrátora: @stiznost.odpovedAmina</p>
            <p>Stížnost: @stiznost.Text</p>
            <p>------------------------------------------</p>
        } 
   </section>
</article>

