@model List<CrowdSourceModel>
@{
    ViewData["Title"] = "Administrátorský panel";
}

<article>
    <section>
        <h2>Správa stížností</h2>
    </section>
    
    <section>
        <div> @*tabulka na správu uživatelů*@
            @foreach (CrowdSourceModel stiznost in Model)
            {
                <h2>@stiznost.nadpis</h2>
                <p>Od uživatele: @stiznost.mailUzivatele</p>
                <p>Stížnost: @stiznost.Text</p>
                <p>Stav: @stiznost.stav</p>
                <p>Odpověď administrátora: @stiznost.odpovedAmina</p>

                <form action="/AdminDashboard/OdpovedetNaStiznost" method="post">
                    <label>Vaše odpověď</label><br />
                    <input required type="text" name="odpoved" placeholder="Odpověď..."><br />
                    <label>Nový stav</label><br />
                    <input type="text" name="stav" placeholder="Stav..."><br />
                    @* tohle je špatná praxe protože by někdo mohl změnit ID ale já věřím našim adminům *@
                    <input type="text" name="ID" value="@stiznost.ID" style="display:none" />
                    <button type="submit">Odeslat</button>
                </form>
                
                <p>------------------------------------------</p>
            }
        </div>
    </section>
</article>