@model List<StiznostiModel>
@{
    ViewData["Title"] = "Administrátorský panel";
}

<h2>Správa stížností</h2>


    
<div> @*TOHLE JE DIV VŠECH STÍŽNOSTÍ*@
    @foreach (StiznostiModel stiznost in Model)
    {
        <div> @*TOHLE JE INDIVIDUÁLNÍ STÍŽNOST!*@

            <h2>@stiznost.Nadpis</h2>
            <p>Od: <b>@stiznost.UzivatelMail</b></p>
            <p>„@stiznost.Text”</p>
            <p>@stiznost.Stav</p>
            <p>Odpověď administrátora: @stiznost.AdminOdpoved</p>

            <div>

                <form action="/AdminDashboard/OdpovedetNaStiznost" method="post">
                    <label>Vaše odpověď</label><br />
                    <input required type="text" name="odpoved" placeholder="Odpověď..."><br />
                    <label>Nový stav</label><br />
                    <input type="text" name="stav" placeholder="Stav..."><br />
                    @* tohle je špatná praxe protože by někdo mohl změnit ID ale já věřím našim adminům *@
                    <input type="text" name="ID" value="@stiznost.Id" style="display:none" />
                    <button type="submit">Odeslat</button>
                </form>
            </div>
        </div>
    }

</div>