@model List<StravovaciZarizeniModel>
@{
    ViewData["Title"] = "Stravovací zařízení";
    var json = System.Text.Json.JsonSerializer.Serialize(Model.ToList());
}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<article>
    <div class="container">
        <section>
            <h2>Seznam jídelen v okolí školy</h2>
            @foreach(StravovaciZarizeniModel jidelna in Model)
            {
                <div class="borderBottom">
                    <h3>@jidelna.Nazev</h3>
                    <p>@jidelna.Adresa</p>
                    <p>@jidelna.OdkazNaMenu</p>
                    <p><b>Popis:</b> <span id="@jidelna.Id"></span></p>
                </div>
            }
        </section>
    </div>
</article>
<div style="display: none;" id="display"></div>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
    window.onload = function() {
        let json = "@System.Text.Json.JsonSerializer.Serialize(Model.ToList())".replaceAll("&quot;", '"');
        let jidelny = JSON.parse(json);
        let quill = new Quill('#display', {
            modules: {
                toolbar: false
            },
            readOnly: true,
            placeholder: 'Compose an epic...',
            theme: 'snow' // or 'bubble'
        });
        jidelny.forEach(e => {
            quill.setContents(JSON.parse(e.Popis), "api");
            let html = quill.root.innerHTML;
            console.log(html);
            document.getElementById(e.Id)
        })
    }
</script>
