@model List<StiznostiModel>
@{ ViewData["Title"] = "Moje stížnosti"; } 

<article>
    <div class="container">
        <section>
            <h2>Odeslané stížnosti</h2>
            @foreach (StiznostiModel stiznost in Model)
            {
                <div class="borderBottom">
                    <h3>@stiznost.Nadpis</h3>
                    <div class="citace">@stiznost.Text</div>
                    <p><b>Napsal:</b> <i>@stiznost.UzivatelMail</i></p>
                    <p><b>Aktuální stav:</b> <i>@stiznost.Stav</i></p>
                    @if (stiznost.AdminOdpoved == "")
                    {
                        <p><i>Žádný admin neodpověděl</i></p>
                    }
                    else
                    {
                        <p>
                            Odpověď administrátora:
                            <div class="citace">@stiznost.AdminOdpoved</div>
                        </p>
                    }
                </div>
            }
    </section>
    </div>
</article>

