@model List<StiznostiModel>
@{ ViewData["Title"] = "Crowd Source"; } 

<article>
    <section>
        <h2>Odeslané stížnosti</h2>
    </section>
   <section>


        @foreach (StiznostiModel stiznost in Model)
        {
            <h2>@stiznost.Nadpis</h2>
            <p>Od uživatele: @stiznost.UzivatelMail</p>
            <p>Stav: @stiznost.Stav</p>
            <p>Odpověď administrátora: @stiznost.AdminOdpoved</p>
            <p>Stížnost: @stiznost.Text</p>
            <p>------------------------------------------</p>
        } 
   </section>
</article>

